{% extends 'base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}
{% block javascripts %}
            {{ encore_entry_script_tags('contact') }}
            
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block body %}
<div class="w-full flex items-center bg-gray-700">
    <div class="w-full flex justify-end">
        <div class="text-gray-300 w-full sm:w-1/4 m-2 flex justify-between">
          <a class="w-10 h-12  sm:mr-4 sm:ml-auto items-center flex " href="{{path('users')}}">
            <button class="cursor-pointer w-full rounded-full p-1  text-white bg-red-500 outline-none focus:outline-none">
                <img src="{{ asset('build/img/home.png') }}">
            </button>
          </a>
          <a class="w-10 h-12  sm:mr-4 sm:ml-4 items-center flex " href="{{path('ajouterContact')}}">
            <button class="cursor-pointer w-full rounded-full p-1  text-white bg-red-500 outline-none focus:outline-none">
                <img src="{{ asset('build/img/plus.png') }}">
            </button>
          </a>
          <a class="w-10 h-12 sm:ml-4 sm:mr-4  items-center flex" href="{{ path('profile',{id : app.user.id})}}">
            <button class="cursor-pointer w-full rounded-full p-1 text-white bg-red-500 outline-none focus:outline-none">
               <img src="{{ asset('build/img/user.png') }}">
            </button>
          </a>
          <a id="localisation" class="w-10 h-12 sm:ml-4 sm:mr-auto  items-center flex">
            <button class="cursor-pointer w-full rounded-full p-1 text-white bg-red-500 outline-none focus:outline-none">
               <img src="{{ asset('build/img/localisation.png') }}">
            </button>
          </a>
        </div>
    </div>
</div>
<div class="container max-w-full mx-auto py-24 px-6">
    <div class="font-sans">
        <div class="max-w-sm mx-auto px-6">
            <div class="relative flex flex-wrap">
              <div class="w-full relative">
                <div class="mt-6">
                    <h1 id='localisationError' class="text-red-500 font-bold my-4 justify-items-center grid"></h1>
                    <h1 class="text-gray-600 font-bold my-4 justify-items-center grid">{{ title }}</h1>
                    {{ form(contactform) }}
                </div>
              </div>
            </div>
        </div>
    </div>
</div>    
    
{% endblock %}

