{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<!-- component -->

        <div class="w-full flex items-center bg-gray-700">
            <div class="w-full flex">
                <div class="m-2 w-3/4 bg-white flex border border-gray-200 rounded">
                    <div class="w-full">
                    {{ form(loupeForm) }}
                    </div>
                    <a id="btnRechercher" class="w-6 my-auto mx-4 cursor-pointer"><img src="{{ asset('build/img/searche.png') }}"></a>
                </div>
                <div class="text-gray-300 w-1/4 m-2 flex items-center md:bg-red-500 rounded-lg">
                        <a class="w-10 h-12 mr-2 sm:mr-4 ml-auto  items-center flex" href="{{ path('users')}}">
                        <button class="cursor-pointer w-full rounded-full p-1 text-white bg-red-500 outline-none focus:outline-none">
                           <img class="md:ml-2 md:mb-1" src="{{ asset('build/img/home.png') }}"><span class="hidden md:grid">Acueil</span>
                        </button>
                        </a>
                        <a class="w-10 h-12 mr-2 sm:mr-6 items-center flex  " href="{{path('ajouterContact')}}">
                        <button class="cursor-pointer w-full  rounded-full p-1  text-white bg-red-500 outline-none focus:outline-none">
                            <img class="md:ml-2 md:mb-1" src="{{ asset('build/img/plus.png') }}"> <span class="hidden md:grid">Ajouter</span>
                        </button>
                        </a>
                        <a class="w-10 h-12 mr-auto  items-center flex" href="{{ path('profile',{id : app.user.id})}}">
                        <button class="cursor-pointer w-full md:grid rounded-full p-1 text-white bg-red-500 outline-none focus:outline-none">
                            <img  src="{{ asset('build/img/user.png') }}"><span class="hidden md:grid">Profil</span>
                        </button>
                        </a>
                </div>
            </div>
        </div>
        <div class="flex bg-white w-full border justify-center ">
            <button id="btnFiltre" class="flex w-8/12 xsm:w-6/12 sm:w-5/12 md:w-4/12 xl:w-3/12 m-2 justify-center focus:outline-none" >
              <img class="w-1/12 h-4/6 mt-1 mx-4" src="{{ asset('build/img/setings.png') }}">
              <a >FILTRER</a>
              <img class="w-2/12 lg:w-1/12 h-3/6 mt-2 mx-2 px-2" src="{{ asset('build/img/dropdown.png') }}">  
            </button>
        </div>
        {{ form_start(filtreForm) }}
        <div id="filtre" class="hidden my-4">
            
            <div  class="grid grid-cols-1 sm:grid-cols-3">
                <div>
                    {{form_row(filtreForm.Prenom)}}
                </div>
                <div>
                    {{form_row(filtreForm.Telephone)}}
                </div>
                <div>
                    {{form_row(filtreForm.Metier)}}
                </div>
                <div class="sm:col-span-2">
                    {{form_row(filtreForm.Mail)}}
                </div>
                <div>
                    {{form_row(filtreForm.ville)}}
                </div>
                <div>
                    {{form_row(filtreForm.News)}}
                </div>
                <div >
                    {{form_row(filtreForm.Date)}}
                </div>
                <div>
                    {{form_row(filtreForm.Meteo)}}
                </div>
                <div class="sm:col-span-2">
                    {{form_row(filtreForm.Tags)}}
                </div>
                <div class="my-2 mx-4">
                    {{form_row(filtreForm.Rechercher)}}
                </div>
            </div>
            {{ form_end(filtreForm) }}
        </div>
        <div id="contact" class="shadow bg-white  w-full lef-0 rounded max-h-select overflow-y-auto svelte-5uyqqj">
            <div class="flex flex-col w-full">
                {% for contact in contacts %}
                    <a href="{{ path('contact',{'id':contact.Id}) }}">
                    <div class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-teal-100">
                        <div class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100">
                            <div class="w-6 flex flex-col items-center">
                                <div class="flex relative w-5 h-5 bg-orange-500 justify-center items-center m-1 mr-2 w-4 h-4 mt-1 rounded-full ">
                                    <img class="rounded-full"  
                                    src="{% if contact.image is null %}
                                            {{ asset('build/img/profil.jpg') }}
                                        {% elseif contact.image is not null %}
                                            {{ vich_uploader_asset(contact, 'imageFile') }}
                                        {% endif %}"> 
                                </div>
                            </div>
                                <div class="w-full items-center flex flex-wrap">
                                    <div class="mx-6 sm:mx-2 -mt-1  ">{{ contact.Nom }} {{ contact.Prenom }}
                                        <div class="text-xs truncate w-full normal-case font-normal -mt-1 text-gray-500">{{ contact.Metier }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 ">{{ contact.Mail }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 ">{{ contact.Telephone }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 hidden lg:block">{{ contact.Ville }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 hidden lg:block">{{ contact.Tags }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 hidden lg:block">{{ contact.News }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 hidden lg:block">Meteo : {{ contact.Meteo }}</div>
                                    </div>
                                    <div class="mx-6 -mt-1  ">
                                        <div class="text-xs truncate w-full normal-case font-normal mt-5 text-gray-500 hidden lg:block">{{ contact.Date|date("m/d/Y") }}</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('filtre') }}
{% endblock %}
